{:tasks {dev (shell "clojure -M:repl:test")
         build-uber (shell "clojure -T:build uber")
         run-uber (shell "java -jar target/app-standalone.jar")
         start (shell "clojure -M -m congo.core")}}
